@use "variables" as *;
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin mobile {
  @media (max-width: 768px) {
    justify-content: center;
  }
}
@mixin button {
  width: 75%;
  padding: 0.5rem;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border: 2px solid $purple;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  gap: 0.5ch;
  user-select: none;
  &:hover {
    filter: brightness(0.9);
  }
}
