@use "variables" as *;
@use "layout" as *;
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  background-color: $purple;
  width: 100%;
  height: 15vh;
  @include flex;
  background: linear-gradient(
    to right,
    rgb(78, 29, 4, 0.2),
    rgb(78, 29, 4, 0.2),
    rgb(78, 29, 4, 0.2)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.add_book {
  @include button;
  width: 15%;
  border: 2px solid $border;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}
.window {
  height: 100%;
  background: url("https://shreyasnair02.github.io/images/images/toppng.com-books-library-shelves-lighting-1600x1200.jpg")
    no-repeat center center fixed;
}
.section {
  // background: $bg;
  min-height: 100vh;
}
.container {
  padding: clamp(1rem, 2vw, 5rem);
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}
.card {
  @include flex;
  justify-content: space-between;
  flex-direction: column;
  //   width: clamp(10rem, 20vw, 40rem);
  padding: clamp(1rem, 3vw, 4rem);
  background-color: $bg2;
  gap: 1ch;
  min-width: 10%;
  max-width: 15%;
  // border: 2px solid rgb(220, 190, 135, 0.5);
  border-radius: 5px;
  & .title {
    font-weight: 600;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    text-align: center;
  }
  & .author {
    font-weight: 500;
  }
  & .pages {
    font-weight: 300;
  }
  & .title ~ * {
    user-select: none;
  }
  background: linear-gradient(
    135deg,
    rgb(220, 190, 135, 0.2),
    rgb(173, 106, 52, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: #080808;
}
.button {
  width: 100%;
  padding: 0.5rem;
  background-color: #dcb876;
  display: flex;
  justify-content: center;

  border-radius: 5px;
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
  color: white;
}

.modal {
  border-radius: 5px;

  @include flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: clamp(0rem, 3vw, 5rem);

  max-width: 60%;
  position: fixed;
  left: 50%;
  top: 50%;
  gap: 1ch;
  translate: -50% -50%;
  .new_book {
    font-size: clamp(1.2rem, 1.5vw, 3rem);
  }
  & .button {
    user-select: none;
    margin-top: 2rem;
    width: 60%;
  }
  & .cross {
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
  }
  & .reador {
    user-select: none;
  }
  input[type="text"],
  input[type="number"] {
    width: 90%;
    padding: 0.5rem;
    border: 2px solid $border;
    border-radius: 5px;
    -moz-appearance: textfield;
    &:focus-visible {
      outline-style: solid;
      outline-color: $border;
    }
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .addbtn {
    color: #080808;
    background-color: $extra;
    border-color: $border;
  }
  [type="checkbox"] {
    vertical-align: middle;
  }
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

/*phone*/
@media screen and (max-width: 768px) {
  .container {
    justify-content: space-evenly;
  }
  .card {
    min-width: 55%;
  }
  .add_book {
    width: 40%;
  }
  .modal {
    min-width: 50%;
  }
}

.blur {
  filter: brightness(0.4);
  pointer-events: none;
}
.scaleUp {
  transform: scale(1);
}
.read {
  background-color: #3f6a69;
}
.unread {
  background-color: #ef5d58;
}
